<koken:event_essay>

	<div class="item">

			<div class="media">

				<koken:link title="View {{ essay.title }}">

					<koken:if true="settings.show_img_spinner">

						<koken:img lazy="true" />

					<koken:else>

						<koken:img />

					</koken:if>

				</koken:link>

			</div>

		<span class="text">
			<h1>
				<koken:link title="View {{ essay.title }}">{{ essay.title }}</koken:link>&nbsp;<span class="item_meta"><koken:discussion_count>({{ discussion_count }})</koken:discussion_count></span>
			</h1>

			<p class="caption">
				<koken:link>
					{{ essay.excerpt }}
				</koken:link>
			</p>
			
			
			<p class="tagscats tags">
				<koken:time /> 
					<koken:tags>
						<koken:loop separator="&nbsp;">
							<koken:link to="tag" title="View everything in #{{ tag.title }}">
								-&nbsp;{{ tag.title }}
							</koken:link>
						</koken:loop>
					</koken:tags>
			</p>

			<hr>

		</span>

	</div>

</koken:event_essay>